.gitignore

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
# vendor/           ← раскомментируй, если используешь vendor
go.work
go.work.sum

# GoLand / IntelliJ
.idea/
*.iml

# Дополнительно (по желанию)
*.log
.DS_Store